@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

.chatNavBar {
    display: flex;
    background-color: #596062; /* Light grey background */
    border-bottom: 1px solid #000000; /* Light grey border for some separation */
    border-radius: 1px; /* Rounds the corners of the buttons */
    font-family: 'Oswald', sans-serif;
    align-items: center; /* Adjust alignment as needed */
    padding: 2px 0px;
    overflow-x: auto; /* Enables scrolling for overflow */
    width: 99.9%;
    max-width: 99.9%;
  }
  
  /*.textContainer is for .chatNavBar buttons*/ 
  .textContainer {
    background-color: #ffffff; 
    width: auto;
    color: #000000; 
    padding: 5px 15px; 
    margin-right: 3px; /* Adds some space between the buttons */
    margin-left: 3px; /* Adds some space between the buttons */
    border: none; /* Removes the border */
    font-family: 'Oswald', sans-serif;
    border-radius: 7px; /* Rounds the corners of the buttons */
    cursor: pointer; /* Changes cursor to pointer on hover */
    font-size: 16px; /* Sets a standard font size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  
  .textContainer:hover {
    background-color: #074aa7; /* Changes background on hover */
  }
  
  .textContainer.active {
    background-color: #434343; /* Darker grey to highlight active chat */
    color: white; /* Changes text color to white for contrast */
    font-weight: bold; /* Makes the active tab text bolder */
  }
  


  /*Actual message body background*/
  .textBodyContainer
  {
    flex-direction: column-reverse;
    color: #ffffff;
    text-align: center; /* Center text inside the container */
    overflow: auto; 
    top: 50%;
    left: 50%;
    width: 99.9%;
    max-width: 99.9%;
    min-height: 87.5vh;
    max-height: 87.5vh;
    /* background-color: #0c0c0c; */
    background-image: url('../../Assets/Chat Background.jpg'); /* Adjust the path based on your project structure */
    background-position: center;
    border-left: 1px solid #393939;
    border-right: 1px solid #393939;
    border-top: 2px solid #393939;
    border-bottom: 4px solid #393939;
    padding-top: 5px;
    padding-bottom: 0px;
  }

  .closeTextContainer {
    padding: 5px 5px; /* Increase padding to make button larger */
    margin: 5px; /* Adjust as needed */
    background-color: #ffffff;
    justify-content: center; /* Center items horizontally */
    cursor: pointer; /* Changes cursor to pointer on hover */   
    border-radius: 10px; /* Adjust the value to change the roundness */
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }


  .closeTextContainer:hover {
    background-color: #ed7070; /* Changes background on hover */
  }
  
  .addTextContainer {
    padding: 5px 5px; /* Increase padding to make button larger */
    margin: 5px; /* Adjust as needed */
    background-color: #ffffff;
    justify-content: center; /* Center items horizontally */
    cursor: pointer; /* Changes cursor to pointer on hover */   
    border-radius: 10px; /* Adjust the value to change the roundness */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }


  .addTextContainer:hover {
    background-color: #70e98c; /* Changes background on hover */
  }

  .chatboxContainer {
    height: max-content;
    max-height: max-content;
    display: flex;
    width: 99.9%;
    max-width: 99.9%;
    align-items: center;
    border-bottom: 1px solid #000000; /* Light grey border for some separation */
    padding: 10px 0px 15px 2px;
    background: #596062;
  }

  .inputText, ::placeholder {
    flex-grow: 1;
    background: #383f40;
    color: #bcbcbc;
    min-width: 90vw; /* Minimum width */
    max-width: 90vw; /* Maximum width */
    margin-left: 0.2vw;
    margin-right: 0.0vw;
    padding: 3px 10px;
    font-size: 30px;
    border: none;
    border-radius: 7px;
    outline: none;
  }

  .fileInput {
    display: none; /* Hidden file input */
  }

  /* Style for the icon button */
  .iconButton {
    display: inline-block;
    color: #383f40;
    justify-content: center;
    padding: 3px 10px;
    margin-left: 0.0vw;
    margin-right: 0.0vw;
    background: none;
    border: 1px solid;
    border-radius: 7px;
    cursor: pointer;
    font-size: 30px;
  }