@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

.mainBodyContainer 
{
  display: flex;
  align-items: center;
  width:100%
}
.chatNavBar {
    display: flex;
    background-color: #ffffff; /* Light grey background */
    border-bottom: 1px solid #000000; /* Light grey border for some separation */
    border-radius: 15px; /* Rounds the corners of the buttons */
    font-family: 'Oswald', sans-serif;
    align-items: center; /* Adjust alignment as needed */
    padding: 1px 1px; /* Add some padding above and below the tabs */
    overflow-x: auto; /* Enables scrolling for overflow */
    width: 100%;
    max-width: 100%;
  }
  
  /*.textContainer is for .chatNavBar buttons*/ 
  .textContainer {
    background-color: #ffffff; 
    width: auto;
    color: #000000; 
    padding: 8px 16px; 
    margin-right: 3px; /* Adds some space between the buttons */
    margin-left: 3px; /* Adds some space between the buttons */
    border: none; /* Removes the border */
    font-family: 'Oswald', sans-serif;
    border-radius: 15px; /* Rounds the corners of the buttons */
    cursor: pointer; /* Changes cursor to pointer on hover */
    font-size: 16px; /* Sets a standard font size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  
  .textContainer:hover {
    background-color: #074aa7; /* Changes background on hover */
  }
  
  .textContainer.active {
    background-color: #434343; /* Darker grey to highlight active chat */
    color: white; /* Changes text color to white for contrast */
    font-weight: bold; /* Makes the active tab text bolder */
  }
  


  /*Actual message body background*/
  .textBodyContainer
  {
    flex-direction: column-reverse;
    color: #6aaaff;
    text-align: center; /* Center text inside the container */
    overflow: auto; 
    top: 50%;
    left: 50%;
    width: 100%;
    min-height: 80vh;
    max-height: 80vh;
    background-color: #232323;
    border-left: 1px solid #393939;
    border-right: 1px solid #393939;
    border-top: 2px solid #393939;
    border-bottom: 4px solid #393939;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .closeTextContainer {
    padding: 5px 5px; /* Increase padding to make button larger */
    margin: 5px; /* Adjust as needed */
    background-color: #ffffff;
    justify-content: center; /* Center items horizontally */
    cursor: pointer; /* Changes cursor to pointer on hover */   
    border-radius: 10px; /* Adjust the value to change the roundness */
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }


  .closeTextContainer:hover {
    background-color: #ff0000; /* Changes background on hover */
  }
  
  .addTextContainer {
    padding: 5px 5px; /* Increase padding to make button larger */
    margin: 5px; /* Adjust as needed */
    background-color: #ffffff;
    justify-content: center; /* Center items horizontally */
    cursor: pointer; /* Changes cursor to pointer on hover */   
    border-radius: 10px; /* Adjust the value to change the roundness */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }


  .addTextContainer:hover {
    background-color: #003cff; /* Changes background on hover */
  }