@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

.chatNavBar {
    display: flex;
    background-color: #ffffff; /* Light grey background */
    border-bottom: 1px solid #000000; /* Light grey border for some separation */
    border-radius: 15px; /* Rounds the corners of the buttons */
    font-family: 'Oswald', sans-serif;
    align-items: center; /* Adjust alignment as needed */
    padding: 1px 0; /* Add some padding above and below the tabs */
    overflow-x: auto; /* Enables scrolling for overflow */
    width: fit-content;
    white-space: nowrap; /* Prevents wrapping of tabs */
  }
  
  .textContainer {
    background-color: #ffffff; /* Slightly darker grey than the navbar */
    width: auto;
    color: #000000; /* Dark grey or black text */
    padding: 8px 16px; /* Vertical and horizontal padding */
    margin-right: 3px; /* Adds some space between the buttons */
    margin-left: 3px; /* Adds some space between the buttons */
    border: none; /* Removes the border */
    font-family: 'Oswald', sans-serif;
    border-radius: 15px; /* Rounds the corners of the buttons */
    cursor: pointer; /* Changes cursor to pointer on hover */
    font-size: 16px; /* Sets a standard font size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  
  .textContainer:hover {
    background-color: #074aa7; /* Changes background on hover */
  }
  
  .textContainer.active {
    background-color: #434343; /* Darker grey to highlight active chat */
    color: white; /* Changes text color to white for contrast */
    font-weight: bold; /* Makes the active tab text bolder */
  }
  
  .addTextContainer {
    padding: 5px 5px; /* Increase padding to make button larger */
    margin: 5px; /* Adjust as needed */
    background-color: #ffffff;
    justify-content: center; /* Center items horizontally */
    cursor: pointer; /* Changes cursor to pointer on hover */   
    border-radius: 10px; /* Adjust the value to change the roundness */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }

  .addTextContainer svg{
    margin-right: 5px;
  }

  .addTextContainer:hover {
    background-color: #003cff; /* Changes background on hover */
  }

  .textBodyContainer
  {
    position: fixed;
    flex-direction: column-reverse;
    color: #6aaaff;
    text-shadow: 1px 1px 1px #ff730080; /* Adds shadow */
    text-transform: uppercase;
    text-align: center; /* Center text inside the container */
    overflow: auto; 
    top: 50%;
    left: 50%;
    width: 60%;
    height: 70%;
    max-height: 300vh;
    max-width: 200vw;
    transform: translate(-50%, -50%);
    background-color: #232323;
    border: 1px solid #393939;
    padding: 20px;
    z-index: 9999; /* Ensure it's above other content */
  }