.chatNavBar {
    display: flex;
    background-color: #ffffff; /* Light grey background */
    border-bottom: 1px solid #000000; /* Light grey border for some separation */
    border-radius: 15px; /* Rounds the corners of the buttons */
    align-items: center; /* Adjust alignment as needed */
    padding: 1px 0; /* Add some padding above and below the tabs */
    overflow-x: auto; /* Enables scrolling for overflow */
    width: fit-content;
    white-space: nowrap; /* Prevents wrapping of tabs */
  }
  
  .textContainer {
    background-color: #ffffff; /* Slightly darker grey than the navbar */
    width: auto;
    color: #000000; /* Dark grey or black text */
    padding: 8px 16px; /* Vertical and horizontal padding */
    margin-right: 3px; /* Adds some space between the buttons */
    margin-left: 3px; /* Adds some space between the buttons */
    border: none; /* Removes the border */
    border-radius: 15px; /* Rounds the corners of the buttons */
    cursor: pointer; /* Changes cursor to pointer on hover */
    font-size: 16px; /* Sets a standard font size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  
  .textContainer:hover {
    background-color: #074aa7; /* Changes background on hover */
  }
  
  .textContainer.active {
    background-color: #434343; /* Darker grey to highlight active chat */
    color: white; /* Changes text color to white for contrast */
    font-weight: bold; /* Makes the active tab text bolder */
  }
  
