/* src/styles/Chat.module.css */
body,
.homeContainer {
  margin: 0;
  padding: 0;
  background-color: #011d1b;
  height: 100px;
  display: flex;
  justify-content: center; /* Center items horizontally */
  text-align: center; /* Center text inside the container */
}
.message {
  font-size: 60px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px #ffffff; /* Adds shadow */
  text-transform: uppercase; /* Convert text to uppercase */
  animation: pulse 2s ease-in-out infinite alternate,
    glow 2s ease-in-out infinite alternate; /* Combining multiple animations */
  padding: "10px 20px";
  color: #000000;
  margin-top: 75px;
}

.message::after {
  content: "";
  display: block;
  width: 425px;
  height: 4px;
  background-color: #ff7300;
  margin: 10px auto;
  border-radius: 2px;
  transition: width 0.4s ease-in-out; /* Adds transition effect */
}

.buttonContainer {
  display: flex;
  justify-content: center; /* Adjust this as needed */
  gap: 40px; /* Adjust the space between the buttons */
  margin-top: 60px; /* Space between the text and the buttons */
  justify-content: center; /* Center items horizontally */
  text-align: center; /* Center text inside the container */
}

/* Animation for pulsating effect */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/* Animation for glowing effect */
@keyframes glow {
  0% {
    text-shadow: 2px 2px 4px #ff7300;
  }
  100% {
    text-shadow: 2px 2px 8px #ff7300; /* Increased blur radius */
  }
}
