@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

.messageContainer {
  display: flex;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
  flex-direction: column;
}

.sentMessage {
  align-self: flex-end;
  background-color: #96ff46; 
  border-radius: 20px;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  max-width: 60%;
  margin: 5px;
  word-wrap: break-word;
}

.receivedMessage {
  align-self: flex-start;
  background-color: #69e6ff; 
  border-radius: 20px;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  max-width: 60%;
  margin: 5px;
  word-wrap: break-word;
}

.senderName {
  font-size: 0.85em;
  margin-bottom: 4px;
  font-family: 'Oswald', sans-serif;
  color: #666;
  font-weight: bold;
}

/* Message.module.css */
@media (max-width: 600px) {
  .sentMessage, .receivedMessage {
    max-width: 80%;
  }
}

/* Add simple animations for message entry */
@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.sentMessage, .receivedMessage {
  animation: slideIn 0.3s ease-out;
}

