.popContainer {
    font-size: 15px; /* Increase the font size */
    padding: 10px 10px; /* Increase padding to make button larger */
    margin: 5px; /* Adjust as needed */
    font-family: Arial, sans-serif;
    color: #2c046d;
    background-color: beige;
    justify-content: left; /* Center items horizontally */
    cursor: pointer;
    border-radius: 10px; /* Adjust the value to change the roundness */
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .bodyContainer
  {
    display: flex;
    justify-content: left; /* Adjust this as needed */
    gap: 40px; /* Adjust the space between the buttons */
    margin-top: 60px; /* Space between the text and the buttons */
    text-align: center; /* Center text inside the container */
  }