.buttonContainer {
    font-size: 15px;
   padding: 10px 10px;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    color: #2c046d;
    background-color: #ff7e22;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    top: 0%;
    left: 100%;
    margin-top: 10px;
    transform: translate(-150%);
    -webkit-transform: translate(-150%);
    -moz-transform: translate(-150%);
    -ms-transform: translate(-150%);
    -o-transform: translate(-150%);
}

  .bodyContainer
  {
    position: fixed;
    color: #6aaaff;
    text-shadow: 1px 1px 1px #ff730080; /* Adds shadow */
    text-transform: uppercase;
    text-align: center; /* Center text inside the container */
    top: 50%;
    left: 50%;
    width: 45%;
    height: 60%;
    max-height: 300vh;
    max-width: 200vw;
    transform: translate(-50%, -50%);
    background-color: #232323;
    border: 1px solid #393939;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 9999; /* Ensure it's above other content */
  }

  .TextbodyContainer
  {
    position: fixed;
    flex-direction: column-reverse;
    color: #6aaaff;
    text-shadow: 1px 1px 1px #ff730080; /* Adds shadow */
    text-transform: uppercase;
    text-align: center; /* Center text inside the container */
    overflow: auto; 
    top: 50%;
    left: 50%;
    width: 60%;
    height: 70%;
    max-height: 300vh;
    max-width: 200vw;
    transform: translate(-50%, -50%);
    background-color: #232323;
    border: 1px solid #393939;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 9999; /* Ensure it's above other content */
  }