@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

.textSet {
  font-size: 20px; /* Increase the font size */
  padding: 15px 30px; /* Increase padding to make button larger */
  text-transform: uppercase;
  margin: 5px; /* Adjust as needed */
  color: #2c046d;
  font-family: 'Oswald', sans-serif;
  background-color: beige;
  justify-content: center; /* Center items horizontally */
  padding: '10px 20px';
  border-radius: '5px';
  cursor: 'pointer';
}

.popupForm {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: left;
}

.formField {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none
}

.responsiveImage {
  max-width: 100%;    /* Image will not exceed the width of the container */
  max-height: 100%;   /* Image will not exceed the height of the container */
  height: auto;       /* Image height will scale proportionally */
  width: auto;        /* Image width will scale proportionally */
  object-fit: contain; /* This will make sure the image is scaled properly within the container */
}
