.textContainer {
    font-size: 20px; /* Increase the font size */
    padding: 15px 30px; /* Increase padding to make button larger */
    margin: 5px; /* Adjust as needed */
    font-family: Arial, sans-serif;
    color: rgb(13, 1, 53);
    background-color: #ff7300;
    justify-content: center; /* Center items horizontally */
    cursor: pointer;
    border-radius: 10px; /* Adjust the value to change the roundness */
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }